body {
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  padding-top: 20px;
}
.el-divider--horizontal {
  margin: 18px 0;
}
.el-alert {
  padding-top: 18px;
  padding-bottom: 18px;
}
.el-alert__title {
  font-size: 15px;
}
.header {
  padding: 0 20px;
  font-size: 35px;
  font-weight: bold;
}
.content {
  padding: 0 20px;
}
.node {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 10px;
  cursor: pointer;
}